.cstmStyl {
    margin-top: 1%;
}

.brdrCrv {
    border: 2px solid;
    border-radius: 7px;
    margin-left: 4%;
    background-color: lightgoldenrodyellow;
}

.colMrgin {
    margin-left: 10%;
}

.btnMrgin{
    margin-left: 5%;
}