<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

        <li class="nav-item">
            <a asp-action="Index" asp-controller="Dashboard" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Home
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="CreateBook" asp-controller="Book" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Create Book
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="GetAllBookData" asp-controller="Book" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    View Book
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="CreateAuthor" asp-controller="Author" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Create Author
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="GetAllAuthorData" asp-controller="Author" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    View Author
                </p>
            </a>
        </li>

    </ul>
</nav>